prefer-offline=true
registry=https://pkg.harness.io/pkg/ct8onj8YTdaXtKaFsYCRLg/org-progress_all-npm/npm/
@progress:registry=https://pkg.harness.io/pkg/ct8onj8YTdaXtKaFsYCRLg/org-progress_all-npm/npm/

ignore-scripts=true

# npm safety gate (days; covers accidental npm usage in this repo)
min-release-age=14